.single-line {
  width: clamp(50px, 15vw, 200px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 624px;
}